.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background: #f1f1f1;
}

.profile-pic {
    margin-bottom: 1rem;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info {
    text-align: center;
}

.profile-name {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1.5rem;
}

.profile-email {
    color: #666;
    font-size: 1rem;
}
.unconfirmed{
    color:red;
}
.confirmed{
    color:green;
}

.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #ff5733;
    color: white;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .back-button:hover {
    background-color: #c44129;
  }
